/* HEADER */

@define-mixin h10 {
  font-size: 48px;
  line-height: 64px;
}

@define-mixin h20 {
  font-size: 40px;
  line-height: 56px;
}

@define-mixin h30 {
  font-size: 32px;
  line-height: 48px;
}

@define-mixin h40 {
  font-size: 24px;
  line-height: 36px;
}

@define-mixin h50 {
  font-size: 20px;
  line-height: 32px;
}

/* PARAGRAPH */

@define-mixin p10 {
  font-size: 20px;
  line-height: 28px;
}

@define-mixin p20 {
  font-size: 18px;
  line-height: 26px;
}

@define-mixin p30 {
  font-size: 16px;
  line-height: 24px;
}

@define-mixin p40 {
  font-size: 14px;
  line-height: 20px;
}

@define-mixin p50 {
  font-size: 12px;
  line-height: 16px;
}

/* QUOTE */

@define-mixin q10 {
  font-size: 32px;
  line-height: 48px;
}

@define-mixin q20 {
  font-size: 24px;
  line-height: 40px;
}

@define-mixin q30 {
  font-size: 20px;
  line-height: 32px;
}
